{% extends 'base.html.twig' %}

{% block title %}Hello AjoutDragonControlleController!{% endblock %}

{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    {% form_theme formDragon 'bootstrap_4_layout.html.twig' %}
</style>
    <div class="jumbotron">
        <h1 class="display-4">ajoute un Dragon</h1>
        <p class="lead">pour ajoute un personnage remplire tout les c</p>
        <hr class="my-4">
    </div>
<div class="example-wrapper">
    <h1>ajoute un Dragon</h1>
    {{ form_start(formDragon) }}

    {{ form_row(formDragon.nom) }}
    {{ form_row(formDragon.vie) }}
    {{ form_row(formDragon.puissance) }}
    {{ form_row(formDragon.defense) }}
    {{ form_row(formDragon.dex) }}
    {{ form_row(formDragon.vitesse) }}
    {{ form_row(formDragon.img) }}

    <button type="submit" class="btn-primary">Ajouté</button>

    {{ form_end(formDragon) }}

</div>
{% endblock %}